body {
    background-color: #4d9b4e; /*light green background*/ 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(229, 238, 174);
}

.featured-article {
    background-color: rgb(199, 219, 163);
    padding: 15px;
}

.latest-news {
    background-color: aliceblue;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr; /*repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 20px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f3f3f3;
}

.article-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
 
}

.article-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: rgb(173, 218, 157);
   
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.advertisement {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: beige;
}

.photogallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: right;
    gap: 75px;
    padding: 50px;
    width: 50%;
    height: auto;
    }

.photo1 img,.photo2 img,.photo3 img{
    margin-right: 10px;
    border: 5px solid #ffffff;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(161, 138, 83);
}

.hamburger {
    display: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul.active {
        display: flex;
    }
}

.articlephoto img {
    border: 10px solid #46722c;
    width: 580px;
    height: 400px;
    float: left;
    margin-right: 8px;
}

.gallery-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}